Pico/build/
Pico/cmake-build-debug/
QXI_proj/QXI_proj.cache/
QXI_proj/QXI_proj.hw/
QXI_proj/QXI_proj.ip_user_files/
QXI_proj/QXI_proj.runs/
QXI_proj/QXI_proj.sim/

Pico/build/*
Pico/cmake-build-debug/*
QXI_proj/QXI_proj.cache/*
QXI_proj/QXI_proj.hw/*
QXI_proj/QXI_proj.ip_user_files/*
QXI_proj/QXI_proj.runs/*
QXI_proj/QXI_proj.sim/*

xvhdl.log
xvhdl.pb
Pico/build/*
cmake-build-debug
cmake-build-debug/*
.idea
.idea/*
